*{
	margin:0;
	padding: 0;
}

header{
	width: 100%;
	background-color: #4a4a4a;
	height: 70px;
	padding-top: 15px;
}

nav {
  width  : 35%;
  position: absolute;
  z-index: 3;
  left: 18%;
  top:.5%;
  margin-top: 20px;

}


menu:after , menu:before {
  display : block;
  content : ' ';
}

menu:after {
  clear : both;
}

li {
  list-style-type : none;


  float   : left;
  cursor  : pointer;
  padding : 3px 10px;


}

li:first-child {
  border-radius : 5px 0 0 5px;
}

li:last-child {
  border-radius : 0 5px 5px 0;
}

li a {
  display : block;
  padding : 10px 13px;
  font-size : 26px;
  text-decoration : none;
  border-radius   : 5px;
  position        : relative;
  top   : 0;
  color : #FFF;			
  transition : all .4s;
}

li:hover a {
  top   : -20px;
  color : #4eacff;
  background-color: #fff;
  box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
  transition : all .4s;
}

li a:after {
  display  : block;
  content  : '';
  position : absolute;
  top  : 100%;
  left : 42%;
  border-style : solid;
  border-color : transparent;
  border-width : 5px 5px 0 5px;
  transition   : all .4s;
}

li:hover a:after {
  border-color : white transparent transparent transparent;
  transition   : all .4s;
}

/*************************************/



.menu2 a {
  font-family : georgia;
  font-size   : 14px;
  font-style  : italic;
  text-transform : capitalize;
}

.menu2 li {
  border-right  : 1px solid rgba(200,200,255,0.5);
  border-left   : 1px solid rgba(40,40,40,0.2); 
} 

.selected {
  top   : -20px;
  color : #4eacff;
  background-color: #fff;
  box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
  transition : all .4s;
}

.selected:after {
  border-color : white transparent transparent transparent;
  transition   : all .4s;
}

.libro{
	color: #fff;
	font-size: 50px;
	margin-left: 13%;

}

.tabla_productos{
	width: 90%;
	margin:5%;

}

.tabla_productos tr td {
	font-size: 20px;
}

.formulario input{
	width: 30%;
	height: 30px;
	color:#1e1e1e;
	}

.formulario fieldset {
	border-width: 0;
}

.aceptar{
	background-color: #f13453;
	color:white;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;
	font-size: 1.3rem;


}
.aceptar:hover{
	background-color: #4a4a4a;
	cursor: pointer;
}

.mas_vendido fieldset{
	margin:0 auto;
}

.mas_vendido p {
margin-top: -25px;
margin-left: -120px;
}

.mas_vendido input{
	margin-left: 450px;
	margin-bottom: -30px;
	margin-top: -00px;
}

.modificar input{
	width: 80%;
	height: 30px;
	border:1px solid #E8E0E0;
	color:#1e1e1e;
	padding: 1%;
}
